@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    padding: 12px;
}

.mainLoad {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    padding: 12px;
    justify-content: center;
    align-items: center;
    background-color: hsl(49, 94%, 55%);
}

.mainLoad .imgLoad {
    width: 160px;
}

.swiper {
    background-image: url('https://i.pinimg.com/564x/0d/ca/5f/0dca5f0d84bf718864d4a09a6fbb83eb.jpg');
    background-size: cover;
    height: 350px;
    border-radius: 15px;
}

.slideItem {
    width: auto;
    height: 400px;
    object-fit: cover;
}

.sectiontile {
    padding: 12px;
}

.title {
    font-size: 45px;
    font-family: 'Permanent Marker', cursive;
    font-weight: bolder;
    color: rgb(233, 219, 27);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

.sectiontile strong {
    font-size: 20px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.sectiontile h2 {
    margin-top: 30px;
    color: aliceblue;
}

.persons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    border-radius: 20px;
    height: 100px;
}

.divPerson {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    margin: auto 70px auto;
    cursor: pointer;
    object-fit: cover;
}

.divPerson:hover {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.image {
    height: 60px;
    object-fit: cover;
    width: 60px;
    cursor: pointer;
    transition: 0.8s;
}

.image:hover {
    height: 108px;
    object-fit: cover;
    width: 80px;
    cursor: pointer;
    transition: 0.5s;
}

.divPerson strong {
    font-size: 13px;
    color: aliceblue;
}

@media(max-width: 610px) {
    .divPerson {
        margin: auto 10px auto;
    }
    .image {
        width: 30px;
        height: 50px;
    }
    .divPerson strong {
        font-size: 6px;
    }
    .image:hover {
        width: 30px;
        height: 50px;
    }
}

.containerCre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.creTitle h3 {
    color: aliceblue;
}

.creTitle h2 {
    color: aliceblue;
    font-weight: lighter;
}

.creTitle div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.creTitle div img {
    margin-top: 12px;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    object-fit: cover;
}

.creTitle div strong {
    background-color: #FF3CAC;
    border-radius: 30px;
    border: solid 2px aliceblue;
    padding: 12px;
    color: aliceblue;
    font-size: 18px;
    margin-top: 8px;
    cursor: pointer;
}

.creTitle div strong:hover {
    background-color: #19547e;
    color: #FF3CAC;
    border: solid 2px #FF3CAC;
}