* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fffbfb;
    font-synthesis: none;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(249, 249, 255);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(255, 253, 250);
    /* creates padding around scroll thumb */
}